# Archivos de compilación
bin/
obj/

# Configuración del IDE
.vs/

# Archivos específicos del usuario
*.csproj.user
*.suo

# Archivos de paquetes
*.nupkg
*.snupkg

# Archivos de bloqueo
project.lock.json
project.fragment.lock.json

# Archivos temporales del sistema operativo
Thumbs.db
.DS_Store

# Archivos generados por herramientas
*.log
*.cache
*.ide
.vs/
